<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647592830883-7ghki5s42ebkqs3od8ocs02kslec6koj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647592830883-7ghki5s42ebkqs3od8ocs02kslec6koj</string>
	<key>API_KEY</key>
	<string>AIzaSyDve6q0zZ1fZV7V-KrV9fBatzwcOqzsNGI</string>
	<key>GCM_SENDER_ID</key>
	<string>647592830883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cchiang.gleam</string>
	<key>PROJECT_ID</key>
	<string>gleam-2d515</string>
	<key>STORAGE_BUCKET</key>
	<string>gleam-2d515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647592830883:ios:9a076c01b51e3245eb9c16</string>
	<key>DATABASE_URL</key>
	<string>https://gleam-2d515.firebaseio.com</string>
</dict>
</plist>